@font-face {
  font-family: "klein";
  src: url("/fonts/klein/Klein-Bold.ttf") format("truetype"); /* Older browsers */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "kleinText";
  src: url("/fonts/klein/KleinText-Bold.woff") format("woff2");
}
@font-face {
  font-family: "futura";
  src: url("/fonts/futura/futura\ medium\ bt.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "futuraBold";
  src: url("/fonts/futura/unicode.futurab.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "inter";
  src: url("/fonts/inter/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.home-page {
  background-image: url("/images/15.png");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: none;
  background-color: transparent;
}
.navbar.scrolled {
  background-color: #fffefe;
}

.navbar.scrolled .nav-links a {
  color: #00bcc3;
}
.navbar.scrolled .logo span.pergo {
  color: #636768;
}

.navbar.scrolled .icon-stroke {
  stroke: hsl(0, 0%, 20%);
}

.navbar .logo {
  align-items: center;
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 10px;
}

.navbar .logo img {
  height: 100%;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar .logo span.pergo {
  font-family: klein;
  color: #ffffff;
  font-size: 35px;
}
.navbar .logo span .luxus {
  font-family: klein;
  color: #00bcc3;
}

.navbar .nav-links {
  display: flex;
  gap: 30px; /* Space between links */
  font-family: kleinText;
  font-size: 22px;
  width: 91px;
  height: 32px;
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 281px;
  margin-top: 15px;
}
.navbar .nav-links a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar .nav-links a:hover {
  color: #00bcc3;
}
.navbar .navbar-icon {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 110px;
}

.navbar .navbar-icon svg {
  flex-shrink: 0;
  width: 44.863px;
  height: 29.829px;
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.navbar .navbar-icon svg:hover {
  transform: scale(1.1);
}

/* styling the about-us section */

.about-us,
.what-we-offer,
.who-trust-us,
.why-pergoluxus,
.solution-partners {
  background-color: #ffffff;
  padding: 50px 20px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.about-us .block,
.what-we-offer .block {
  max-width: 504px;
  margin-left: 0px;
  text-align: justify;
}
.about-us-section,
.what-we-offer-section,
.who-trust-us-section,
.why-us-section,
.our-parts-section {
  padding-left: 107px;
}
.block p {
  line-height: 33.25px; /* Improve readability */
}
.textUs,
.textOffer,
.textTrust,
.textWhy,
.textParts {
  /* width: 509px; */
  margin-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 30px;
}
h1 {
  font-family: futura;
  color: #0fbcc3;
  position: relative;
  font-feature-settings: "liga" off;
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 100px;
  flex-shrink: 0;
}
h2 {
  color: #636768;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: futura;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 49.4px */
  letter-spacing: 1.52px;
  text-transform: capitalize;
}
/* .block {
    margin-bottom: 20px;
} */

p {
  color: var(--595959-body-grey-for-white-bg, #595959);
  font-family: futura;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 33.25px */
  letter-spacing: 0.38px;
}

.read-more-btn {
  background-color: #00bcc3;
  color: white;
  padding: 10px 50.6px;
  border: none;
  border-radius: 36.889px;
  cursor: pointer;
  font-size: 23.056px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 31px;
}
.statistics {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  margin-left: 30px;
  gap: 15px;
  margin-bottom: 20px;
}

.stat:not(:last-child) {
  border-right: 0.5px solid #009399;
  padding-right: 62.48px;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.number-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.plus-sign {
  font-size: 40px;
  position: absolute;
  top: -25px;
  right: -25px;
  font-weight: extra-bold;
  color: #009399;
}

.number {
  color: #009399;
  font-family: "General Sans";
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.567px; /* 73.209% */
  letter-spacing: 0.8px;
}
.statistics .stat:nth-child(2),
.statistics .stat:nth-child(3) {
  margin-left: 60.28px;
}
.label {
  color: var(--Color-3, #636768);
  font-family: futura;
  font-size: 18.25px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.182px; /* 117.679% */
  letter-spacing: 0.343px;
  margin-top: 20px;
}

.image-containerUs {
  /* max-width: 40%; */
  width: 672px;
  height: 641px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-right: 110px;
}

img {
  display: block;
  width: 150%;
  height: auto;
  object-fit: cover;
  margin-top: 100px;
}
/* 
.right-image {
  width: 115%;
  height: auto;
  object-fit: cover;
  width: 572px;
  height: 481px;
  flex-shrink: 0;
} */

/* what we offer styling */

.images-slide {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
  /* align-items: flex-start;
  max-width: 100%;
  overflow-x: auto;
  margin-right: 0;
  padding-right: 0; */
}

.view-all-link {
  color: #00bcc3;
  font-family: poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.view-all-link a:hoover {
  color: #ffffff;
}
.image-s-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
}

.image-s-container img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
.what-we-offer img {
  width: 740px;
  margin: 0 20px;
}
.images-slide .image-s-container:nth-child(1) img,
.images-slide .image-s-container:nth-child(2) img {
  width: 340px;
  height: 420px;
}

.images-slide .image-s-container:nth-child(3) img {
  width: 169px;
  height: 421px;
  margin-right: 0 !important;
}

.image-s-container img:hover {
  transform: scale(1.05); /* Slight zoom */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.image-s-description {
  margin-top: 10px;
  font-size: 20px;
  color: #00bcc3;
  line-height: normal;
  font-weight: 500;
}

/* Maintain row alignment between text and images */
.what-we-offer-section,
.who-trust-us,
.why-us-section,
.solution-partners {
  display: flex;
}
.images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Style for line and arrows */
.line-and-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 10px;
}

.image-line {
  flex: 1;
  border: none;
  border-top: 2px solid #00bcc3;
  width: 40%;
  margin: 0 auto;
}

.slider-arrows {
  display: flex;
  gap: 20px;
}

.arrow {
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.arrow:hover path {
  fill: #009399;
}

.arrow:active {
  transform: scale(1.1);
}

/* who trust us section styling */

.who-trust-us {
  background-color: rgba(152, 152, 152, 0.07);
  padding: 30px 20px;
  /* width: 1510px; */
  height: 575px;
  text-align: left;
  position: relative;
}
.who-trusts-us-section,
.our-parts-section {
  color: var(--Color, #0b8997);
  font-family: futura;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 43.75px */
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-left: 20px;
}
.textTrust h2,
.why-us-section h2,
.textParts h2 {
  color: var(--141414-Black, #141414);
  font-family: futura;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 68.9px */
  letter-spacing: 2.12px;
  text-transform: capitalize;
}
.textParts {
  white-space: nowrap;
}
.our-clients {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 30px;
}

/* Projects Line */
.projs-container,
.parts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  position: relative;
  margin-top: 300px;
  left: -250px;
}

.projs,
.parts {
  display: flex;
  gap: 45px;
  overflow: hidden;
  max-width: 100%;
}
.projs-container img,
.parts-container img {
  /* If icons are images */
  margin-right: 10px; /* Add space to the right of each icon */
}
.projs img,
.parts img {
  height: 60px;
  transition: transform 0.3s ease;
}

.projs img:hover,
.parts img:hover {
  transform: scale(1.1);
}

.projs-container svg,
.parts-container svg {
  position: relative;
  top: 80px;
  right: 35px;
}

/* why pergoluxus styling */

/* Container for columns */
.columns-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  flex-wrap: wrap;
}

/* Each column */
.column {
  flex: 1;
  max-width: 18%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.column:hover {
  transform: translateY(-10px);
}

/* Image inside each column */
.column-image img {
  width: 100%;
  height: auto;
  max-width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.svg-icon {
  width: 92.952px;
  height: 92.952px;
  border-radius: 46.4759px;
  display: inline-block;
  object-fit: contain;
  margin-top: -1px;
  align-items: center;
}
.column h3 {
  color: var(--Color, #00bcc3);
  text-align: center;
  font-family: kleinText;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.6px; /* 121.905% */
}
.column p {
  color: #6e7488;
  text-align: center;
  font-family: kleinText;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.6px; /* 213.333% */
}

.column-image {
  padding-left: 50px;
}
/* .why-us-section {
  display: flex;
  justify-content: flex-start;
} */
.our-clients svg,
.why-us-section svg {
  margin-top: 120px;
  margin-left: 183px;
}
.textTrust svg {
  margin-top: 20px;
  margin-left: 80px;
}
.textWhy svg {
  margin-top: 20px;
  margin-left: 320px;
}
.textParts svg {
  margin-top: 20px;
  margin-left: 110px;
}
/* explore section styling */
.explore-section {
  position: relative;
  background-image: url("/images/12.png");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.explore-content {
  position: absolute;
  z-index: 2;
  color: #fff;
  /* max-width: 600px; */
  text-align: center;
}

.explore-content h4 {
  color: #fff;
  text-align: center;
  font-family: inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.explore-content p {
  color: #fff;
  text-align: center;
  font-family: inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 55.2px; /* 115% */
  letter-spacing: -1.44px;
}
.view-btn {
  color: #fff;
  text-align: center;
  font-family: inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 181.818% */
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 10px 10px;
  margin-top: 240px;
}
.view-btn:hover {
  color: #000;
  border-color: #00bcc3;
  background-color: #00bcc3;
}

.back-to-top {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  margin-left: 870.48px;
  margin-top: 100px;
  width: 63.551px;
  height: 57.497px;
  flex-shrink: 0;
}

.back-to-top svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  fill: #00bdc300;
  transition: fill 0.3s;
}

.arrCont {
  background-color: rgba(255, 255, 255, 0.932);
}
.sepspace {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.932);
  padding-top: 10px;
  padding-bottom: 60px;
}

.frame {
  width: 100%;
  height: 3px;
  background: var(--Color, #00bcc3);
  flex: 1;
  margin: 0 auto;
}

/* Footer Section styling */
.footer-section {
  background-color: white;
  padding: 40px 20px;
  text-align: center;
}

/* Content inside the footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

/* Left section with text */
/* .footer-left h2 {
  color: #474a4a;
  font-family: kleinText;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-left p {
  color: rgba(34, 34, 34, 0.8);
  font-family: futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.6px;
  margin-top: -30px;
} */

/* Footer Links */
.footer-links {
  color: var(--Color-2, #009399);
  font-family: futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  padding-top: 30px;
}

.footer-links a {
  color: #00bcc3;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  margin-top: 40px;
  margin-right: 35px;
}

.footer-links a:hover {
  color: rgba(34, 34, 34, 0.8);
}

.bottomFin {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 90px 0 0 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.932);
}

.fin {
  width: 100%;
  /* max-width: 1512px; */
  height: 65px;
  margin: -40px auto 400px auto;
  background: #0fbcc3;
}

.footer-left {
  width: 158.859px;
  height: 171.029px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-left img {
  max-width: 100%;
  height: auto;
  margin-top: -20px;
  margin-left: 80px;
}
